@model Garage20.Models.Vehicles

@{
    ViewBag.Title = "Receipt";
}

<h2>Detaljerad information</h2>
<div class="well">
    <h4>Detaljerad fordonsinformation för @Html.DisplayFor(model => model.RegNr)</h4>





    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Email)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Member.PhoneNbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.PhoneNbr)
        </dd>
        <dt>
            &nbsp;
        </dt>

        <dd>
          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelsAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsAmount)
        </dd>
        <dt>
            &nbsp;
        </dt>

        <dd>

        </dd>

        <dt>
<dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayName("Tid nu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayName("Kostnad hittils")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountFee)
            @Html.DisplayName("Kr")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
