@model Garage20.Models.Vehicles

@{
    ViewBag.Title = "Receipt";
}

<h2>Kvitto @ViewBag.test</h2>
<div>
    <h4>Utcheckning utförd! Kvitto för @Html.DisplayFor(model => model.Member.FirstName) @Html.DisplayFor(model => model.Member.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Förnamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Efternamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Email)
        </dd>

        <dt>
            @Html.DisplayName("Telefonnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.PhoneNbr)
        </dd>
        <dt>
            &nbsp;
        </dt>

        <dd>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayName("Fordonstyp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleTypeName)
        </dd>

        <dt>
            @Html.DisplayName("färg")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayName("Märke")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayName("Antal hjul")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsAmount)
        </dd>
        <dt>
            &nbsp;
        </dt>

        <dd>

        </dd>
        <dt>
            @Html.DisplayName("Parkering påbörjad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayName("Tid nu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayName("Kostnad hittils")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountFee)
            @Html.DisplayName("Kr")
        </dd>
    </dl>
</div>