@model Garage20.Models.ParkedVehicle

@{
    ViewBag.Title = "Receipt";
}

<h2>Kvitto</h2>
<div>
    <h4>Utcheckning utförd! Kvitto för @Html.DisplayFor(model => model.RegNr)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayName("färg")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayName("Märke")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayName("Antal hjul")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelsAmount)
        </dd>

        <dt>
            @Html.DisplayName("Fordonstyp")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayName("Parkering påbörjad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayName("Parkering avslutad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayName("Kostnad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountFee)
            @Html.DisplayName("Kr")
        </dd>
    </dl>
</div>